:root {
    --priority-3: #ff6666;
    --priority-2: #f4c06f;
    --priority-1: #8ddf46;
    --priority-0: #00d6c6;
    --expire: #d80000;

    --text-light: #999;
    --text-dark: #222;
    --gray-light: #f4f4f4;
}

body{
    margin: 0px;
    padding: 0px;
}

